* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 18px;
	font-family: 'Outfit', sans-serif;
	height: 100%;
	display: grid;
}

body {
	background-color: hsl(217, 54%, 11%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.card {
	background-color: hsl(216, 50%, 16%);
	width: 350px;
	height: auto;
	padding: 24px;
	border-radius: 8px;
}

.container {
	width: 302px;
	height: auto;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
}

.equilibrium {
	width: 100%;
	height: auto;
	display: block;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: .5s ease;
	background-color: hsla(178, 100%, 50%, .2);
	display: flex;
  }

.overlay:hover {
	opacity: 1;
  }

.view {
	margin: auto;
}

.content {
	display: flex;
	flex-direction: column;
}

.reference {
	font-size: 1.2rem;
	color: white;
	text-decoration: none;
}

.reference:hover
 {
	color: hsl(178, 100%, 50%);
}

p {
	color: hsl(215, 51%, 80%);
	margin-top: 16px;
	line-height: 1.5;
	font-weight: 300;
}

.values {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 24px;
	padding-bottom: 24px;
	border-bottom: 2px solid hsl(215, 32%, 27%);
}

.ethereum {
	color: hsl(178, 100%, 50%);
}

.time {
	color: hsl(215, 51%, 70%);
}

.ethereum, .time {
	display: flex;
	align-items: center;
	font-size: .8rem;
}

.values .ethereum img {
	width: 11px;
	height: 18px;
	margin-right: 7px;
}

.values .time img {
	width: 16px;
	height: 16px;
	margin-right: 7.7px;
}

.avatar {
	display: flex;
	align-items: center;
	margin-top: 16px;
	margin-bottom: 8px;
}

.avatar img {
	height: 33px;
	width: auto;
	display: block;
	border: 2px solid whitesmoke;
	border-radius: 100%;
	margin-right: 20px;
}

.avatar h3 {
	color: hsl(215, 51%, 70%);
	font-weight: 300;
	font-size: 1rem;
}

.avatar h3 a {
	color: white;
	text-decoration: none;
}

.avatar h3 a:hover {
	color: hsl(178, 100%, 50%);
}

.attribution {
	margin: 50px auto 0;
}

@media only screen and (max-width: 375px) {
	.card {
		margin: auto 24px;
	}
}